config.stopbubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.fieldDefaults.defaultPrivate = true
lombok.accessors.chain = true
lombok.equalsandhashcode.callsuper = CALL
lombok.tostring.callsuper = CALL
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
